/* General */
#index {
    font-family: sans-serif;
    background: url(../img/bg.png);
}

#index .container {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;
}

#index .button {
    margin: auto;
    padding: 1rem 0;
    text-align: center;
}

#index button {

    width: 75%;
    max-width: 300px;
    padding: 1rem;
    border-radius: 10px;
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
}

#index button {
    transform: scale(1.05);
}



#index button a {
    text-decoration: none;
    color: white;

}

#index button.first {
    background-color: gray;
}

#index button.footer {
    background-color: black;

}


h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

p {
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

/* End General */


/* Start Header */
header {
    height: 400px;
    background: linear-gradient(0deg, rgb(0, 0, 0) 5%, rgba(0, 0, 0, 0) 75%), url(../img/banner.webp);
    background-position: center;
    background-size: cover;
    position: relative;
}

#index div.form {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px #000000;
    text-align: center;
    padding: 2rem 2rem;
    margin-top: 1rem;
}

#index div.form h1 {
    color: black;
}

#index div.form h3 {
    color: gray;
}

#index div.form input {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid gray;
    color: white;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

#index div.form input[type=submit] {
    background-color: black;
    color: white;
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
}

#index div.form input[type=submit]:hover {
    transform: scale(1.05);
}

#index div.form li {
    color: white;
    font-size: .75rem;
}

#index div.form li:nth-child(1)::before {
    content: '';
    display: inline-block;
    height: 14px;
    width: 16px;
    background-image: url('../img/calendar.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

#index div.form li:nth-child(2)::before {
    content: '';
    display: inline-block;
    height: 14px;
    width: 16px;
    background-image: url('../img/house.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

/* END Header */


/* START Main */
#index main {
    background-color: black;
    color: white;
    padding-top: 1rem;
    padding-bottom: 10rem;
}

#index main .card {
    text-align: center;
}

#index main .card .column {
    background: linear-gradient(0deg, rgb(36, 36, 36) 5%, rgba(0, 0, 0, 0) 75%), url(../img/card.webp);
    background-position: center;
    background-size: cover;
    height: 400px;
    background-color: red;
    border-radius: 10px;
    position: relative;
    margin-bottom: 1rem;
}

#index main .card .column .column-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

#index main .card .column .column-content h3 {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

#index main .card .column .column-content p {
    color: red;
    font-weight: 600;
    text-transform: uppercase;
}

/* END Main */


/* Start Footer */
#index footer {
    background-color: gray;
    padding-bottom: 2rem
}

#index footer .profile {
    position: relative;
    bottom: 5rem;
    margin-bottom: -3rem;
}

#index footer .profile img {
    width: 100%;

}

#index footer .profile-content h2 {
    text-align: center;
}

/* END Footer */


/* START copyright */
#index .copy {
    padding: 0.5rem 0;
    text-align: center;
    background-color: black;
    color: white;
}

#index .copy p {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

#index .copy span {
    color: red;
    font-weight: 900;
}

/* END copyright */


@media screen and (min-width: 600px) {

    /* START Card */
#index main .feature{
    display: inline-block;
    width: 50%;
    margin: -5px;
    margin-bottom: .5rem;
}

#index main .odd{
    padding-right: .5rem;
}

#index main .even{
    padding-left: .5rem;
}

/* END Card */

/* START Profile */

#index footer{
    width: 100%;
}

#index footer .profile{
    display: inline-block;
    width: 50%;
    margin: -2px;
}

#index footer .profile-content h2, #index footer .profile-content p{
    display: inline-block;
}

#index footer .profile-content{
    display: inline-block;
    width: 50%;
    margin: -2px;
    padding-top: 10px;
    padding-left: 10px;
    vertical-align: top;
}

/* END Profile */



}


@media screen and (min-width:768px){
    header {
        height: 500px;
        background: linear-gradient(0deg, rgb(0, 0, 0) 5%, rgba(0, 0, 0, 0) 75%), url(../img/banner-tablet.webp);
        background-position: left;
        background-size: cover;
        position: relative;
    }

    #index div.form {
        position: absolute;
        box-sizing: border-box;
        width: 500px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(5px);
        border-radius: 10px;
        box-shadow: 0px 0px 25px 0px #000000;
        text-align: center;
        padding: 2rem 2rem;
        top: 30%;
        transform: translateY(-30%);
        
    }



}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    
    h2 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    
    h3 {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    
    p {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    header {
        height: 500px;
        background: linear-gradient(0deg, rgb(0, 0, 0) 5%, rgba(0, 0, 0, 0) 75%), url(../img/banner-desktop.webp);
        background-position: left;
        background-size: cover;
        position: relative;
    }


    #index div.form {
        position: absolute;
        box-sizing: border-box;
        width: 500px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(5px);
        border-radius: 10px;
        box-shadow: 0px 0px 25px 0px #000000;
        text-align: center;
        padding: 2rem 2rem;
        top: 30%;
        transform: translateY(-30%);
        
    }

    #index main .feature{
        display: inline-block;
        width: 25%;
        margin: -5px;
        margin-bottom: .5rem;
    }
    
    #index main .first{
        padding-right: .5rem;
    }
    
    #index main .second{
        padding-right: .5rem;
        padding-left: .5rem;
    }

    #index main .thrist{
        padding-left: .5rem;
    }

}